<div style="margin-top: 51px; margin-right: 50px;">	
	<div class="row" style="margin-top: 10px" >
		<div class="col-md-2" style="background-color: rgb(50,50,50); margin-top: 5px">
			<button (click)="inicio()" *ngIf="this.serviciog.isSubActivity"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> </button>
			<div  class="titulo" (click)="tituloClick()" style="display: inline;">{{this.serviciog.titulo}}</div>
			<div  style="background-color: rgb(153,191,78); margin: 10px 10px; min-height: 75vh">		

				<div style="margin: auto;">
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Buscar...">
						<span class="input-group-btn">
							<button type="button" class="btn btn-primary" aria-label="Left Align">
								<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
							</button>
						</span>
					</div>						
				</div>


				<div class="listaActividades">
					<ul>
						<li *ngFor="let activity of this.serviciog.actividades" 
						[class.selected]="activity === this.serviciog.actividad" 
						(click)="onSelectActivity(activity)">
						<a>{{activity.nom_act}}</a>
					</li>
				</ul>
			</div>

		</div>
		<button class="btn btn-primary"  
		style=" margin: auto; display: block;" 
		data-toggle="modal" 
		data-target="#mod-reg-act">
		Nueva Actividad
	</button>	
</div>

<div class="col-md-10" style="background-color: rgb(222,220,221);">
	<div class="menuActividades">
		<ul>
			<li *ngIf="!this.serviciog.isSelAct" (click)="c0()" [class.itemSelected]="this.serviGloAct.actOpt===0" >
				<a>Detalles Proyecto</a>
			</li>
			<li *ngIf="!this.serviciog.isSelAct" (click)="c7()" [class.itemSelected]="this.serviGloAct.actOpt===7">
				<a>Categorias</a>
			</li>
			<li *ngIf="this.serviciog.isSelAct" (click)="c1()" [class.itemSelected]="this.serviGloAct.actOpt===1">
				<a>Detalles Actividades</a>
			</li>
			<li *ngIf="this.serviciog.isSelAct && this.serviciog.actividad != this.serviciog.isSubActivity" (click)="c2()" [class.itemSelected]="this.serviGloAct.actOpt===2">
				<a>Sub - Actividades</a>
			</li>
			<li *ngIf="this.serviciog.isSelAct" (click)="c3()" [class.itemSelected]="this.serviGloAct.actOpt===3">
				<a>Reporte</a>
			</li>
			<li *ngIf="this.serviciog.isSelAct" (click)="c4()" [class.itemSelected]="this.serviGloAct.actOpt===4">
				<a>Multimedia 
				</a>
			</li>
			<li (click)="c5()" [class.itemSelected]="this.serviGloAct.actOpt===5">
				<a>Estadisticas </a>
			</li>
			<li *ngIf="this.serviciog.isSelAct" (click)="c6()" [class.itemSelected]="this.serviGloAct.actOpt===6">
				<a>Mapa</a>
			</li>

			<li (click)="c8()" [class.itemSelected]="this.serviGloAct.actOpt===8">
				<a>Porcentajes</a>
			</li>
		</ul>				
	</div>

	<div style=" min-height: 80vh;">
		<div *ngIf="this.serviGloAct.actOpt === 0">					
			<form #loginForm="ngForm" style="margin-right: 5%; margin-left: 5%;" enctype="multipart/form-data">
				<div class="form-group">							

					<img  class="imgPro" src="http://www2.udenar.edu.co/recursos/wp-content/uploads/2016/10/udenar.png" />

					<hr/>

					<label for="nombre" class="lab">Nombres</label>
					<input name="" type="text" id="nombre" class="form-control" name="nombres" readonly [(ngModel)]="this.serviciog.proyecto.nombre" >

					<label for="descripción" class="lab">Descripción</label>
					<input name="" type="text" id="de" class="form-control" name="descripcion" readonly [(ngModel)]="this.serviciog.proyecto.descripcion"  >


					<label for="tiempo_inicial" class="lab">Fecha de Inicio</label>
					<input name="" type="text" id="tiempo_ini" class="form-control" name="tiempo_ini" ng-reflect-model="a" readonly [(ngModel)]="this.serviciog.proyecto.fecha_inicio" >

					<label for="tiempo_fin" class="lab">Fecha Final</label>
					<input name="" type="text" id="tiempo_fin" class="form-control" name="tiempo_fin" ng-reflect-model="a" readonly [(ngModel)]="this.serviciog.proyecto.fecha_fin" >

					<label for="estado" class="lab">Estado</label>
					<input name="" type="text" id="estado" class="form-control" name="estado" ng-reflect-model="a" readonly [(ngModel)]="this.serviciog.proyecto.estado" >
				</div>						
			</form>
		</div>

		<div *ngIf="this.serviGloAct.actOpt === 1">
			<form #loginForm="ngForm" style="margin-right: 5%; margin-left: 5%;" enctype="multipart/form-data">
				<div class="form-group">
					<label for="nombre" class="lab">Nombres</label>
					<input name="" type="text" id="nombre" class="form-control" name="nombres" [readonly]="!this.isEditar" [(ngModel)]="this.serviciog.actividad.nom_act" >

					<label for="descripción" class="lab">Descripción</label>
					<input name="" type="text" id="de" class="form-control" name="descripcion"  [readonly]="!this.isEditar" [(ngModel)]="this.serviciog.actividad.desc_act"  >

					<label for="porcentaje" class="lab">Porcentaje Esta Actividad</label>
					<input name="" type="text" id="porcentaje" class="form-control" name="porcentaje" [readonly]="!this.isEditar" [(ngModel)]="this.serviciog.actividad.porcentaje" >	


					<label for="porcentaje_asignado" class="lab">Porcentaje Asignado Otras Actividades</label>
					<input name="" type="text" id="porcentaje_asignado" class="form-control" name="porcentaje_asignado" [readonly]="!this.isEditar" [(ngModel)]="this.serviciog.actividad.porcentaje_asignado" >	

					<label for="tiempo_inicial" class="lab">Tiempo Inicio</label>
					<input name="" type="text" id="tiempo_ini" class="form-control" name="tiempo_ini" [readonly]="!this.isEditar" [(ngModel)]="this.serviciog.actividad.fecha_inicio" >

					<label for="tiempo_fin" class="lab">Tiempo Final</label>
					<input name="" type="text" id="tiempo_fin" class="form-control" name="tiempo_fin" [readonly]="!this.isEditar" [(ngModel)]="this.serviciog.actividad.fecha_fin" >

					<label for="estado" class="lab">Estado</label>
					<input type="text" id="estado" class="form-control" name="estado"  [readonly]="!this.isEditar" [(ngModel)]="this.serviciog.actividad.estado" >

					<label for="porcentaje_cumplido" class="lab">Porcentaje Cumplido</label>
					<input name="" type="text" id="estado" class="form-control" name="porcentaje_cumplido" [(ngModel)]="this.serviciog.actividad.porcentaje_cumplido" >

					<br/>
					<button class="btn btn-success" *ngIf="this.isEditar" (click)="actualizarActividad(this.serviciog.actividad)">Guardar</button>

					<button class="btn btn-primary" *ngIf="!this.isEditar" (click)="editarClick()">Editar</button>
				</div>						
			</form>					
		</div>

		<div *ngIf="this.serviGloAct.actOpt === 2" >	
			<subactividad-panel></subactividad-panel>
		</div>

		<div *ngIf="this.serviGloAct.actOpt === 3" >
			<embed  src="http://knower.udenar.edu.co/imgSTT/CONVENIO.pdf" style="width: 100%; min-height:80vh;" fullframe />					
		</div>

		<div *ngIf="this.serviGloAct.actOpt === 4" >
			<multimedia></multimedia>
		</div>

		<div *ngIf="this.serviGloAct.actOpt === 5" >
			<div style="display: block; height: 500px; width: 500px" class="center-block">
				<canvas baseChart
				[data]="doughnutChartData"
				[labels]="doughnutChartLabels"
				[chartType]="doughnutChartType"
				(chartHover)="chartHovered($event)"
				(chartClick)="chartClicked($event)"></canvas>
			</div>
			<div style="display: block">
				<canvas baseChart
				[datasets]="barChartData"
				[labels]="barChartLabels"
				[options]="barChartOptions"
				[legend]="barChartLegend"
				[chartType]="barChartType"
				[colors] = "barColor"
				(chartHover)="chartHovered($event)"
				(chartClick)="chartClicked($event)"></canvas>
			</div>
		</div>

		<div *ngIf="this.serviGloAct.actOpt === 6">
			<mapa></mapa>
		</div>

		<div *ngIf="this.serviGloAct.actOpt === 7">
			<categorias></categorias>
		</div>

		<div *ngIf="this.serviGloAct.actOpt === 8">
			<h1>Porcentajes</h1>
			<hr/>
			<div class="row">
				<div class="col-md-6">
					Mi Porcentaje {{this.miPorcentaje}}
				</div>
				<div class="col-md-6">
					Porcentaje Asignado {{this.porcentajeAsignado}}
				</div>
			</div>			
			<div >				
				<table class="table table-striped">
					<thead>
						<tr>								
							<th style="width: 70%">Actividad</th>
							<th style="width: 30%">Porcentaje Asignado</th>	
						</tr>
					</thead>
					<tbody  *ngIf="!this.serviciog.isSelAct || this.serviciog.isSubActivity === this.serviciog.actividad" >
						<tr *ngFor="let activity of this.serviciog.actividades; let i = index">
							<td>{{activity.nom_act}}</td>
							<td>
								<input type="number" class="form-control"  min="0" max="100" [(ngModel)]="activity.porcentaje" (change)="valPor(true,i)">
							</td>								
						</tr>
					</tbody>
					<tbody  *ngIf="this.serviciog.isSelAct && this.serviciog.isSubActivity != this.serviciog.actividad ">
						<tr *ngFor="let subactividad of this.serviGloAct.subActividades; let i = index">
							<td>{{subactividad.nom_act}}</td>
							<td>
								<input type="number" class="form-control" name="val" min="0" max="100" [(ngModel)]="subactividad.porcentaje" (change)="valPor(false,i)">
							</td>
							<td>Subact</td>							
						</tr>
					</tbody>
				</table>				
			</div>
			<button class="btn btn-success" (click)="sendPercentage()"  [disabled]="this.miPorcentaje < 0">Guardar</button> 
		</div>
	</div>		
</div>
</div>


</div>
<registro-actividad></registro-actividad>



