.selected a{
  background-color: rgba(0,0,0,0.2);
}

.listaActividades ul {
	list-style: none;
	margin-right: 0px;
}

.listaActividades a{	
	display: block;	
	text-decoration: none;
	padding: 10px 10px;
	color: white;
	//background-color: rgb(153,191,78);
}

.listaActividades a:hover{
	background-color: rgba(0,0,0,0.3);
	cursor: pointer;
}

.listaActividades li{
	display: block;	
	border-bottom: 1px solid rgba(44,106,34,.5);
}

.menuActividades ul{
	list-style: none;
}

.menuActividades{
	background-color: rgb(0,55,85);
	margin: 0;
	//position: relative;
}
.menuActividades li{
	display: inline-block;
	
}

.menuActividades a{
	color: white;
	display: block;
	text-decoration:none;
	padding: 20px 20px;
}

.menuActividades a:hover{
	background-color: rgba(0,0,0,0.2);
	cursor: pointer;
}

agm-map {
	height: 500px;
}


.projectCard{
	background-color: rgb(52,122,182);
	margin: 10px;	
}

.projectCard h4{
	color: white;
}

.lab1{
	color: white;
}
.lab2{
	background-color: rgb(221,221,221);
	color: black;
	border-color: gray;	
	height: 20px;
	text-align: left;
}

.btn-category-1{
	width: 50px;
	height: 50px;
	position: absolute;
	right: -38px;
	top:85px;
	z-index: 1000;
	background-color: green;
	border: 1px solid transparent;
	border-radius: 3px;
	box-shadow: 1px 1px 15px black;
}

.btn-category-2{
	width: 50px;
	height: 50px;
	position: absolute;
	right: -38px;
	top: 140px;
	z-index: 1000;
	background-color: yellow;
	border: 1px solid transparent;
	border-radius: 3px;
	box-shadow: 1px 1px 15px black;
	color: white;
}

.btn-category-3{
	width: 50px;
	height: 50px;
	position: absolute;
	right: -38px;
	top: 195px;
	z-index: 1000;
	background-color: red;
	border: 1px solid transparent;
	border-radius: 3px;
	box-shadow: 1px 1px 15px black;
	color: white;
}

.btn-primary{
	background-color: rgb(77,185,221);
	border-color: gray;
}
.titulo{
	color: white; 
	text-transform: uppercase; 
	font-weight: bold;
	cursor: pointer;
}

.titulo:hover{	
	text-decoration: underline;
	color: rgb(255,255,255,0.5);
}

.imgPro{
	display: block;
	background-color: white;
	text-align: center;
	margin: auto;
}

.btn-add-activity{
	width: 50px;
	height: 50px;
	position: absolute;
	right: -38px;
	top:85px;
	z-index: 1000;
	background-color: rgb(0,128,0);
	border: 1px solid transparent;
	border-radius: 3px;
	box-shadow: 1px 1px 15px black;
}