.myModal{
	position: absolute;
	width: 100%;
	height: 92vh;
	background-color: rgba(0,0,0,0.5);
	z-index: 5;
	top: 0px;
	margin-top: 50px;
	/* display: none; */
}

.formulario{
  overflow-y: auto;
  height: 44vh;
  overflow-x: hidden;
  padding-right: 5%;
  padding-left: 5%;
  margin-bottom: 5px;
}

/* ---------------Style Scroll Formulario--------------*/
.formulario::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.formulario::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

.formulario::-webkit-scrollbar-thumb
{
	background-color: #2b3627;
}
/* ---------------Fin Style Scroll Formulario-------------*/

#mod-log-tit {
  margin-top: 40px;
  margin-left: -45px;
  text-align: center;
  font-size: 60px;
  color:cadetblue;
}

#mod-log-tit2{
	margin-top: -20px;
	color: gray;
	text-align: center;
	margin-left: 100px;
	font-size: 25px;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

.lab {
  font-family: 'Playfair Display', serif;
}


.uploader input {
  display: none;
}

#upload {
  display: none;
}

.uploader {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.modal{
  margin-top: 26px;
}