<button *ngIf="!isMapSelected" class="btn-select-map" (click)="btnAddImgMap()">
	M
</button>


<button *ngIf="!isMapSelected" class="btn-add-img btn-primary" data-toggle="modal" 
		data-target="#mod-reg-mult" >						
	+				
</button>
<button *ngIf="isMapSelected" class="btn-ok btn-success" (click)="envioCambios()"> 			
	OK					
</button>

<div class="row">
	<div class="col-xs-6 col-md-3" *ngFor="let imagen of this.serviciog.imagenes">	
		<input type="checkbox" *ngIf="isMapSelected" class="chk" [checked]=imagen.isViewMap (change)="checked(imagen)"  >						
		<a  class="thumbnail">
			<img src={{imagen.val_configuracion}}{{imagen.srcServ}}{{imagen.nombre_archivo}} alt={{imagen.subtitulo}}>			
			<div class="caption">
				<h3>{{imagen.titulo}}</h3>																	
			</div>
		</a>
	</div>	
</div>
<registro-multimedia></registro-multimedia>

<!--img src={{imagen.url}} alt={{imagen.subtitulo}}-->
<!--<img src="http://knower.udenar.edu.co/imgSTT/95-1-5.jpg" alt={{imagen.subtitulo}}>-->