.selected1{
	position: absolute;
	height: 82%;
	width: 88%;
	z-index: 2;
}

.selected:hover .selected1{
	height: 82%;
	width: 88%;
	background-color: rgba(55,185,228,0.6);
}



.selected:hover .titleImg{
	color: #01BCF3
}

.selected:hover .options{
	display: block;
}

.titleImg{
	font-size: 15px;
	font-weight: 700;
	text-align: center;
	color: #000;
	text-overflow: ellipsis;
    word-wrap: break-word;
    white-space: nowrap;
    overflow: hidden;
}

.options{	
	background-color: #3b4348;
	position: absolute;
	top:5px;
    left: 90%;
    z-index: 3;
    padding: 10px;
    color: white;
    display: none;
    border-radius: 5px;
    border: 0.2px solid gray; 
}

.options input{
	color: black;
} 

.selected:nth-child(4n) .options{
	left: auto;
	right: 90%;
}

#btn-delete{
	display: none;
}

.row{
	margin-right: 0px;
	margin-left: 7px;
	height: 69vh;
	overflow-y: auto;
}
.glyphicon{
	cursor: pointer;
}
.glyphicon:hover{
	border-bottom:  1px sold gray;
	background-color: rgba(0,0,0,0.2);	
}
.select-mul{	
	width: 98%;
}

.thumbnail{
	text-decoration: none;
}

.thumbnail img{
	width: 242px;
	height: 200px;
}
.thumbnail video{
	width: 312px;
	height: 174px;
}

.chk{
	box-shadow: 1px 1px 10px black;	
	height: 17px;
	width: 17px;	
	margin-left: 10px;	
}

.caption{
	text-align: center;
}

.btn-select-map img{
	width: 35px;
	height: 35px;
	align-content: center;
}


.btn-select-map{
	width: 50px;
	height: 50px;
	position: absolute;
	right: -38px;
	top:85px;
	z-index: 1000;
	background-color: rgb(255,0,128);
	border: 1px solid transparent;
	border-radius: 3px;
	box-shadow: 1px 1px 15px black;
}

.btn-add-img{
	width: 50px;
	height: 50px;
	position: absolute;
	right: 0px;
	top: 183px;
	z-index: 1000;
	border: 1px solid transparent;
	border-radius: 3px;
	box-shadow: 1px 1px 15px black;
	color: white;
}

.btn-ok{
	width: 50px;
	height: 50px;
	position: absolute;
	right: -38px;
	top:85px;
	z-index: 1000;	
	border: 1px solid transparent;
	border-radius: 3px;
	box-shadow: 1px 1px 15px black;
}

.btn-cancel{
	width: 50px;
	height: 50px;
	position: absolute;
	right: -38px;
	top: 140px;
	z-index: 1000;
	border: 1px solid transparent;
	border-radius: 3px;
	box-shadow: 1px 1px 15px black;
	color: white;
}

.modal-dialog{
	width: 90%; 
	max-height: 90vh;
}

.modal-dialog iframe{
	width: 90%;
	height: 75vh;
	display: block;
	margin: auto;
}